<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-btobdspeed"
        version="1.0.0">
    <name>Bluetooth OBD II Speed Cordova Plugin</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>cordova, obd, bluetooth</keywords>
    <repo></repo>
    <issue></issue>
    <engines>
        <engine name="cordova-plugman" version=">=4.2.0"/>
    </engines>

    <js-module src="www/btobdspeedplugin.js" name="BTOBDSpeedPlugin">
        <merges target="bTOBDSpeedPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="BTOBDSpeedPlugin" >
                <param name="android-package" value="com.ferdinandsilva.android.BTOBDSpeedPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>
        <source-file src="src/android/BTOBDSpeedPlugin.java" target-dir="src/com/ferdinandsilva/android" />
    </platform>

</plugin>